<!DOCTYPE html>
<html>
    <head>
        <title>数独</title>
        <link rel="stylesheet" href="styles/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Shizuru&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Rampart+One&display=swap" rel="stylesheet">
        
    </head>
    <body>
        <div class="first">
            <h1 id="title" center>Sudoku 数独</h1>
        </div>
        <div class="second">
            <h2 id="mid">Enter the missing numbers to complete the <span id="puzzle">puzzle</span>.</h2>
        </div>
        <form method="post" action="/submit">
        <div class="third">
            <% if(locals.grid && !locals.answer){ %>
                <% var count=0;console.log("Question was called"); %>
                <% for(var i=0;i<9;i++){ %>
                   <% for(var j=0;j<9;j++){ %>
                        <% var value=grid.value[i][j] %>
                        <%if(value!=0){ %>
                            <div class="table_elements">
                                <%= value %>
                            </div>
                        <% }else{ %>
                            <div class="table_elements">
                                <input type="number" name="<%=count %>" min="1" max="9" required>
                            </div>
                            <% count++; %>
                        <% } %>
                    <% } %>
                <% } %>
           <% }else if(locals.answer){ %>
                <% var count=0, flip=true; %>
                <% for(var i=0;i<9;i++){ %>
                    <% for(var j=0;j<9;j++){ %>
                        <% var value=grid.solution[i][j] %>
                        <%if(grid.value[i][j]!=0){ %>
                            <div class="table_elements">
                                <%=value %>
                            </div>
                        <% }else{ %>
                            <% if(answer[`${count}`]!=value){ flip=false;%>
                                <div class="wrong_table_elements">
                                    <%=value %>
                                </div>
                            <% }else{ %>
                                <div class="correct_table_elements">
                                    <%=value %>
                                </div>
                            <% } %>
                            <% count++; %>
                        <% } %>
                    <% } %>
                <% } %>
                <% if(flip){ %>
                    <script>alert("Correct Answer!\nWell Done:)");</script>
                <% }else{ %>
                    <script>alert("Incorrect Answer!\nBetter luck next time :(");</script>
                <% } %>
                <script src="script.js"></script>
           <% } %>
            
        </div>
        
        <% if(display){ %>
            <div class="fifth">
                <input id="check" type="submit" value="CHECK">
            </div>
            
        </form> 
        <% }else{ %>  
            
        </form>         
            <div class="fourth">
                <form action="/" method="get">
                    <input id="check" type="submit" value="Re-Try">
                </form>
            </div>
            <% } %>
        
    <footer>
        Made by <a target="_blank" href="https://github.com/AtharvaGupta28/Sudoku">Atharva Gupta</a>.
    </footer>
    </body>
</html>
